<link rel="stylesheet" href="assets/css/productDetails.style.css">

<!-- Section1 -->
<div class="row small-up-1 medium-up-2 large-up-2 section1">
  <div class="column">
    <div class="card product-img thumbnail card-1">
      <img src="assets/img/gsw.png" class="main-product" alt="Product image">
    </div>
  </div>
  <div class="column">
    <div class="card thumbnail card-2">
      <div class="card-divider">
        <h3>{{dataProduct.name}}</h3>
      </div>
      <div class="card-section">
        <p class="price">{{dataProduct.unitPrice | currency}}</p>
        <p class="product-servings">{{dataProduct.presentations[0].servings}} servings</p>
        <form class="quantity-products" action="/action_page.php">
          <input id="quantityProduct" type="number" name="quantity" min="1" max="100" step="1" value="1">
        </form>
        <button ng-click="addToShoppingCart(dataProduct.name, dataProduct.description, dataProduct.unitPrice, dataProduct.presentations[0].servings, dataProduct.presentations[0].discount.percentage)" type="button" class="alert button cart-button">
          <i class="fa fa-cart-arrow-down fa-lg" aria-hidden="true"></i>Anadir al carrito
        </button>
        <div class="details">
          <p class="title-detail">Detalles del producto</p>
          <p>{{dataProduct.description}} Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est laborum.</p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End Product -->

<!-- Section2 -->
<div class="section2">
  <figure>
    <img src="assets/img/exlogo.png" class="small-logo" alt="Go Center Logo">
  </figure>
  <div class="row small-up-1 medium-up-2 large-up-3 blocks">
    <p class="title2">Recomendado para ti</p>
    <div class="column column-block bloque">
      <img src="assets/img/gsw.png" width="300" height="350" class="thumbnail image" alt="Product image">
      <h5>Product Name</h5>
      <p>$120.00</p>
    </div>
    <div class="column column-block bloque">
      <img src="assets/img/gsw.png" width="300" height="350" class="thumbnail image" alt="Product image">
      <h5>Product Name</h5>
      <p>$120.00</p>
    </div>
    <div class="column column-block bloque">
      <img src="assets/img/gsw.png" width="300" height="350" class="thumbnail image" alt="Product image">
      <h5>Product Name</h5>
      <p>$120.00</p>
    </div>
  </div>
</div>

<!-- End Section2 -->
