<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">GoCenter Admin</a>
        <a href="#" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="false" class="button-collapse">
            <i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a ui-sref="admin">Inicio</a></li>
            <li><a ui-sref="adminOrderManager">Ordenes</a></li>
            <li><a ui-sref="adminProductManager">Productos</a></li>
            <li><a ui-sref="adminPromotionManager">Promociones</a>
        </ul>
        <ul class="side-nav" id="nav-mobile">
            <li><a ui-sref="admin" class="waves-effect"><i class="material-icons">dashboard</i> Inicio</a></li>
            <li><a ui-sref="adminOrderManager" class="waves-effect"><i class="material-icons">shopping_cart</i> Ordenes</a>
            </li>
            <li><a ui-sref="adminProductManager" class="waves-effect"><i class="material-icons">shopping_cart</i>
                Productos</a></li>
            <li><a ui-sref="adminPromotionManager" class="waves-effect"><i class="material-icons">shopping_cart</i>
                Promociones</a>
        </ul>
    </div>
</nav>

<div>
    <div ui-view></div>
</div>