<!-- Section 1 -->
<div class="section1">
<!-- Search Box -->
  <div class="row search-box">
    <div class="small-10 small-centered medium-10 medium-centered large-8 large-centered columns">
      <label>Search product
        <input class="search-product" type="search" placeholder="Search for ...">
      </label>
    </div>
  </div>
<!-- End Search Box -->
</div>
<!-- End Section1 -->


<!-- Section 2 -->
<section class="row uncollapse section2">
<!-- Vertical Menu -->
<aside class="small-2 medium-2 large-2 columns filters">

<span><i class="fa fa-list-ul"></i>Filters</span>

<ul class="menu vertical">
<li><a href="#">One</a></li>
<li><a href="#">Two</a></li>
<li><a href="#">Three</a></li>
<li><a href="#">Four</a></li>
<li><a href="#">Five</a></li>
<li><a href="#">Six</a></li>
<li><a href="#">Seven</a></li>
<li><a href="#">Eight</a></li>
</ul>
</aside>
<!-- End Vertical Menu -->

<!-- Catalog -->
<div class="small-10 medium-10 large-10 columns catalog">
<p class="title-catalog">Features</p>
<div class="row small-up-2 medium-up-3 large-up-5">
<div class="column column-block image">
  <img src="images/gsw.png" class="thumbnail" alt="">
  <h5>Product Name</h5>
  <p>$120.00</p>
</div>
<div class="column column-block image">
  <img src="images/gsw.png" class="thumbnail" alt="">
  <h5>Product Name</h5>
  <p>$120.00</p>
</div>
<div class="column column-block image">
  <img src="images/gsw.png" class="thumbnail" alt="">
  <h5>Product Name</h5>
  <p>$120.00</p>
</div>
<div class="column column-block image">
  <img src="images/gsw.png" class="thumbnail" alt="">
  <h5>Product Name</h5>
  <p>$120.00</p>
</div>
<div class="column column-block image">
  <img src="images/gsw.png" class="thumbnail" alt="">
  <h5>Product Name</h5>
  <p>$120.00</p>
</div>
<div class="column column-block image">
  <img src="images/gsw.png" class="thumbnail" alt="">
  <h5>Product Name</h5>
  <p>$120.00</p>
</div>
</div>
</div>
<!-- End Catalog -->
</section>
<!-- End Section 2 -->
