<link rel="stylesheet" href="assets/css/shoppingCart.style.css">
<!-- Section 1 -->
<!-- <div class="row expanded cart"> -->

  <div class="row form-title">
    <div class="small-10 small-centered columns formTitle">
      <h3 class="">CARRITO DE COMPRA</h3>
    </div>
  </div>

  <table class="cart-products">
    <thead>
      <tr>
        <th width="200">Imagen</th>
        <th>Descripcion</th>
        <th width="150">Quantity</th>
        <th width="150">Price</th>
        <th width="150">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="../../assets/img/gsw.png" class="cart-product" alt=""></td>
        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
        <td>
          <form class="quantity-products" action="/action_page.php">
            <input type="number" name="quantity" min="1" max="100" step="1" value="1">
          </form>
        </td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>

      </tr>
      <tr>
        <td><img src="../../assets/img/gsw.png" class="cart-product" alt=""></td>
        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
        <td>
          <form class="quantity-products" action="/action_page.php">
            <input type="number" name="quantity" min="1" max="100" step="1" value="1">
          </form>
        </td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>

      </tr>
      <tr>
        <td><img src="../../assets/img/gsw.png" class="cart-product" alt=""></td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>
          <form class="quantity-products" action="/action_page.php">
            <input type="number" name="quantity" min="1" max="100" step="1" value="1">
          </form>
        </td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>

      </tr>
      <tr>
        <td><img src="../../assets/img/gsw.png" class="cart-product" alt=""></td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>
          <form class="quantity-products" action="/action_page.php">
            <input type="number" name="quantity" min="1" max="100" step="1" value="1">
          </form>
        </td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
    </tbody>
  </table>

  <div class="button-group">
    <div class="row btn-group">
      <div class="small-8 small-offset-4 medium-6 medium-offset-6 large-4 large-offset-8 columns">
        <a ui-sref="productCatalog" class="button large btn-shop">Seguir comprando</a>
        <button type="button" class="button large btn-pay">Pagar</button>
      </div>
    </div>
  </div>
<!-- </div> -->
