<link rel="stylesheet" href="assets/css/signUp.style.css">

<div class="section1">
<div class="row expanded registro">
  <div class="large-5 large-centered columns formulario">
    <div class="expanded large button-group form-btn">
      <a ui-sref="login" class="button buttn">INGRESAR</a>
      <a ui-sref="signUp" class="button buttn">CREAR CUENTA</a>
    </div>
    <div ui-view>


    <form class="contactForm" id="contact-form">


          <label class="text-label">Nombre
            <input ng-model="user.firstName" type="text" size="30" placeholder="Your name" class="name-input">
          </label>



          <label class="text-label">Apellido
            <input ng-model="user.lastName" type="text" size="30" placeholder="Your last name" class="lastname-input">
          </label>



          <label class="text-label">Correo electronico
            <input ng-model="user.email" type="email" size="30" placeholder="Tu email" class="email-input">
          </label>



          <label class="text-label">Contrasena
            <input ng-model="user.password" type="password" size="30" placeholder="Tu contrasena" class="password-input">
          </label>


      <div class="row expanded boton">
        <div class="small-6 small-centered text-center columns">
          <button ng-click="addUser()" type="submit" class="large button btn-signup" name="button">Crear Cuenta</button>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
</div>
