/*@import url('https://fonts.googleapis.com/css?family=Lato');*/
/*body {
    font-family: 'Lato', sans-serif;
}*/



/*.map {
  width: 100%;
  height: 100%;
}*/
/*.section1 {
  height: 90vh;
}*/
@media screen and (max-width: 39.9375em) {
  .visitanos {
    font-size: 30px;
  }
  .sucursal1 {
    font-size: 25px;
  }
  .direccion, .direccion2, .direccion3, .direccion4 {
    font-size: 15px;
  }
  .icons {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 40em) {
  .icons {
    width: 30px;
    height: 30px;
  }
  .visitanos {
    font-size: 60px;
  }
  .sucursal1 {
    font-size: 40px;
  }
  .direccion, .direccion2, .direccion3, .direccion4 {
    font-size: 20px;
  }
}
.visitanos {
    letter-spacing: 10px;
    text-align: center;
}

.sucursal1 {
    color: #66ff33;
    text-align: center;
}

.sucursal {
    color: white;
    background-image: url("../img/fondorojo.png");
    background-position: center;
    background-size: cover;
}

.direccion, .direccion2, .direccion3, .direccion4 {
    text-align: center;
}
