.section1 {
  background-image: url("../img/catalog2.png");
  background-size: 100% 100%;
  height: 500px;
  position: relative;
}
.search-box-scroll {
  display: none;
}
.search-box div label {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  color: whitesmoke;
}
.search-box {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
}
.search-product {
  background: none !important;
  border-bottom-width: 2px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  color: white;
}

/* Section2 */
.section2 {
  padding-top: 50px;
  background-image: url("../img/fondo.png");
  background-size: cover;
}

aside ul{
  border-left: groove #e4e4e4;
}
aside ul li a{
  color: #ffffff;
  font-size: 15px;
}
.filters span {
  font-size: 17px;
  font-weight: bold;
}
.filters span i {
  margin-right: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  
}
@media screen and (min-width: 640px) and (max-width: 1023.99px) {
  .filters span {
    font-size: 14px;
  }
  .catalog {
    float: none !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 640px) {
  .filters span {
    font-size: 11px;
  }
  .filters span i {
    margin-right: 5px;
  }
  .catalog {
    float: none !important;
    margin: 0 auto !important;
  }
}
.title-catalog {
  display: inline-block;
  letter-spacing: 7px;
  font-size: 40px;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: bold;
}
.products-menu {
  background-color: #cedc41;
}

.select-menu select {
  display: block;
}
.thumbnail {
  background-color: #b1b1b1;
}
.productos {
  margin-top: 20px;
}
