body {
  background-image: url("../img/fondo.png");
  background-size: cover;
  font-family: "Lato", sans-serif !important;
}


.formTitle {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(182, 55, 55, 0.88), rgba(79, 34, 34, 0.15)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(182, 55, 55, 0.88), rgba(79, 34, 34, 0.15)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(182, 55, 55, 0.88), rgba(79, 34, 34, 0.15)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(182, 55, 55, 0.88), rgba(79, 34, 34, 0.15)); /* Standard syntax */
  padding: 10px;
}
.form-title {
  box-sizing: border-box;
  margin-top: 40px;
  padding: 12px;
}
.form-title h3 {
  color: #ffffff;
  margin: 0 auto;
  font-family: "Lato";
  letter-spacing: 5px;
}
/* Table Products */
table {
  margin-top: 30px;
}
th {
  background-color: #cedc41;
}
td img {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.cart-product {
  width: 70px;
  height: 90px;
}

.btn-shop, .btn-pay {
  background-color: #cedc41;
  color: #000000;
  border-radius: 10px;
  margin: 0;
  padding: 10px 20px;
}

.btn-pay {
  margin-left: 20px;
}
.quantity-products {
  width: 50%;
}
