<!-- Contact Form -->
<div class="section1">
<div class="row form-title">
  <div class="small-10 small-centered columns formTitle">
    <h3 class="">HAVE A QUESTION?</h3>
  </div>
</div>
<form class="contactForm" id="contact-form">
  <div class="row small-uncollapse">
    <div class="small-2 medium-2 large-2 columns">
      <label for="middle-label" class="text-right middle text-label">Nombre</label>
    </div>
    <div class="small-10 medium-8 columns end large-6 columns end">
      <input type="text" id="middle-label" size="30" placeholder="Your name" class="name-input">
    </div>
  </div>
  <div class="row small-uncollapse">
    <div class="small-2 medium-2 large-2 columns">
      <label for="middle-label" class="text-right middle text-label">Apellido</label>
    </div>
    <div class="small-10 medium-8 columns end large-6 columns end">
      <input type="text" id="middle-label" size="30" placeholder="Your last name" class="lastname-input">
    </div>
  </div>
  <div class="row small-uncollapse">
    <div class="small-2 medium-2 large-2 columns">
      <label for="middle-label" class="text-right middle text-label">Email</label>
    </div>
    <div class="small-10 medium-8 columns end large-6 columns end">
      <input type="email" id="middle-label" size="30" placeholder="Tu email" class="email-input">
    </div>
  </div>
  <div class="row small-uncollapse">
    <div class="small-2 medium-2 large-2 columns">
      <label for="middle-label" class="text-right middle text-label">Mensaje</label>
    </div>
    <div class="small-10 medium-8 columns end large-6 columns end">
      <textarea name="message" placeholder="Escribe tu mensaje" class="message-input" rows="8"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="small-3 small-centered medium-centered large-centered columns">
      <input class="button submit-btn" type="submit" name="" value="Enviar">
    </div>
  </div>
</form>
</div>
<!-- End Contact Form -->
